.RegistrationForm {
  text-align: center;
  border: 1px solid grey;
  max-width: 600px;
  border-radius: 5px;
  padding: 10px;
  margin: auto auto;
}

.RegistrationForm input,
button {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  padding-left: 5px;
  max-width: 300px;
  height: 40px;
  width: 30vw;
  font-size: 15px;
}

.registrationFooter > a {
  text-decoration: none;
  color: rgb(85, 89, 42);
}

.registrationFooter > a:hover {
  color: rgb(163, 165, 80);
}
