.App {
  height: 100vh;
  width: 100vw;
}

header {
  background-image: url('../../images//green.jpg');
  background-size: cover;
  background-position: center;
}

.RegistrationForm input,
.LoginForm input {
  min-width: 150px;
}

main {
  width: 80vw;
  max-width: 1000px;
  margin: 40px auto;
  background-color: white;
}

h1,
h2 {
  font-family: 'Ubuntu', Sans-Serif;
}

.appDescription h2 {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: rgb(85, 89, 42);
}

a:hover {
  color: black;
}

button:hover {
  background-color: rgb(163, 165, 80);
  color: black;
}

div[role='alert'] {
  color: red;
}
@media only screen and (min-width: 300px) {
  /* main {
    font-size: 0.7rem;
  } */
}

@media only screen and (min-width: 700px) {
  main {
    width: 50vw;
  }
}

/* 
rgb(85,89,42)
rgb(61,64,37)
rgb(163,165,80)
rgb(38,38,29)
rgb(211,180,138)
 */

/* Font-Family: 'Ubuntu', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Open Sans', Sans-Serif;
Font-Size: 15px; */
