.LoginForm {
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.LoginForm input,
button {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  padding-left: 5px;
  height: 40px;
  width: 30vw;
  font-size: 15px;
}

fieldset {
  border: none;
}

