.LearnPage_Card button,
input {
  width: 10vw;
  margin: auto auto;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 5px;
}
.Card_Foreign_Word {
  align-self: auto;
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 50vw;
  max-width: 500px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
}
.flip-card-inner label {
  display: block;
}
.flip-card-inner input {
  width: 50%;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  margin: 5px 0;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flip-card-front {
  background-color: darkgrey;
  color: black;
}

.flip-card-back {
  background-color: rgb(34, 85, 63);
  color: white;
  transform: rotateY(180deg);
}

.wrong {
  background-color:red;
}

.right {
  background-color: rgb(34, 85, 63);
}
